<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.coffee.repository.ReviewMapper">
    <insert id="insertReview" parameterType="review" useGeneratedKeys="true" keyProperty="reviewId">
        insert into review(memberId, content, productId)
        values (#{memberId}, #{content}, #{productId})
    </insert>

    <update id="updateReview" parameterType="review" >
        update review
        set content = #{content}
        where reviewId = #{reviewId} and memberId = #{memberId}
    </update>

    <delete id="deleteReview" parameterType="review" >
        delete from review
        where reviewId = #{reviewId} and memberId = #{memberId}
    </delete>

</mapper>